<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href=../static/style.css">
</head>
<body style="background-color: black">
    <header style="color: white">
        <h1>Home Page</h1> </br>
        <h2>Links:</h2>
    </header>
    <nav>
        <ul>
            <li style="color: red">
                <a style="color: white", href="/styles">styles page</a>
            </li>
            <li style="color: red">
                <a style="color: white", href="/webtags">webtags page</a>
            </li>
        </ul>
    </nav>

</body>
</html>